<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheet/admi-clients.css">

    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../img/favIcon.png" type="image/x-icon">

</head>

<body>
    <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">

            <h4>N<span>ogal</span></h4>
        </div>

        <div class="side-content">
            <div class="profile">
                <h5>Admin </h5>
                <small>General Admin</small>
            </div>

            <div class="side-menu">
                <ul>
                    <li>
                        <a href="./admin2.html">
                            <span class="las la-home"></span>
                            <small>Dashboard</small>
                        </a>
                    </li>


                    <a href="./clients.html"  class="active">
                        <span class="las la-user"></span>
                        <small>Clients</small>
                    </a>
                    </li>

                    <li>
                        <a href="./ordersMaria.html">
                            <span class="las la-shopping-cart"></span>
                            <small>Orders</small>
                        </a>
                    </li>

                    <li>
                        <a href="./addproduct.html">
                            <span class="las la-plus"></span>
                            <small>Add Product</small>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
    </div>

    <div id="app" class="main-content">
        {{searchFilter}}

        <header>
            <div class="header-content">
                <label for="menu-toggle">
                    <span class="las la-bars"></span>
                </label>

                <div class="header-menu">






                    <div class="user">
                        <div class="bg-img" style="background-image: url(img/1.jpeg)"></div>

                        <button  v-on:click="home()"class="boton4"><i class="fa fa-home"></i> Home</button>
                        <button v-on:click="logout()"class="boton4"><i class="las la-power-off"></i> Logout</button>
                    </div>
                </div>
            </div>
        </header>


        <main>

            <div class="page-header">
                <h1 class="admin">Clients </h1>
                        <small>Nogal</small>
            </div>

            <div class="page-content">




                <div class="records table-responsive">
                    <br>

                    <form class="form-search" method="get" action="#">
                        <label for="">Search Client  : </label>
                        <input type="search" name="search" v-model="inputSearchVModel" placeholder="Search Client here.">
                        
                    </form>
                    
            

                    <div>
<!--                         <table width="100%">
                            <thead>
                                <tr>
                                    <th># Product Id</th>
                                    <th><span class="las la-sort"></span> Product</th>
                                    <th><span class="las la-sort"></span> Price</th>
                                    <th><span class="las la-sort"></span> Category</th>
                                    <th><span class="las la-sort"></span> Stock</th>
                                    <th><span class="las la-sort"></span> Edit/Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tr" v-for="producto in productsEnableTrue">
                                    <td>#{{producto.id}}</td>
                                    <td>
                                        <div class="client">
                                            <div class="client-img bg-img" style="background-image: url(img/3.jpeg)"></div>
                                            <div class="client-info">
                                                <h4>{{producto.name}}</h4>
                                                <small> Material :  {{producto.materialType}}</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {{producto.price}}
                                    </td>
                                    <td>
                                        {{producto.type}}
                                    </td>
                                    <td>
                                        {{producto.stock}}
                                    </td>
                                    <td>
                           
                                        <button class="botons"><i class="las la-edit
                                            [&#xf1f8;]"></i>
                                        </button>
                                        <button class="botons2" v-on:click="deleteProduct(producto)"><i class="las la-trash
                                            [&#xf1f8;]"></i>
                                        </button>

                                    </td>

                                </tr>
                                <tr>





                            </tbody>
                        </table> -->
                        <table>
                            <thead>
                              <tr>
                                <th scope="col">Client id</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>                                                
                              </tr>
                            </thead>
                            <tbody>
                              <tr  v-for="client in clients">
                                <td data-label="Client id">#{{client.id}}</td>
                                <td data-label="First Name">{{client.firstname}}</td>
                                <td data-label="Last Name"> {{client.lastname}}</td>
                                <td data-label="Email"> {{client.email}}</td>
                                <td data-label="Phone"> {{client.cellphone}}</td>
                              </tr>
                           
                            </tbody>
                          </table>

                          <h3 class="text-center mt-2" v-if="clients.length == 0">Client not found.</h3>

                        
                          
                     
                          
                

                    </div>

                </div>

            </div>

        </main>
   
    </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="../js/admin-clients.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</html>