<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>About us | Nogal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/gotham-pro?styles=24950,24948,24951,24952,14946,24949,24953" rel="stylesheet">    


  <link rel="stylesheet" href="./stylesheet/style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mr+De+Haviland&family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet">


</head>

<body class="index products">
  <div id="app">

      <header class="header-products">

          
        <nav class="navbar fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand burger-menu-mob" href="./index.html" ><img src="./img/logo/logo.png" alt=""></a>
            <div class="nav-menu-container">
                  <div class="nav-menu">
                      <ul class="nav-menu-ul">
                          <li>
                              <a href="./index.html">Home</a>
                          </li>
                          <li>
                              <a href="./products.html">Shop</a>
                              <ul>
                                  <li></li>
                              </ul>
                          </li>
                          <li>
                              <a href="./contact.html">Contact</a>
                          </li>
                          <li>
                              <a href="#">About us</a>
                          </li>              
                      </ul>
                  </div>
                  <button class="" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                      <div class="nav-icons">
                        <a href="./client/favorite.html" v-if="clientCurrent != null">
                          <img src="./img/icons/wishlist.png" alt="">
                        </a>
                        <a :href="clientPage" v-if="clientCurrent != null">
                          <img  type="button" src="./img/icons/account.png" alt="">
                        </a>
                        <a href="./cart.html" v-if="clientCurrent != null">
                          <img src="./img/icons/cart.png" alt="">
                        </a>
                      
                      
                          <span class="burger-menu"><img src="./img/icons/burger.png" alt=""></span>
                      </div>
                  </button>
            </div>
              
  
  
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-header">

                  <div class="burger-menu-mob">
                      <a href="#" class="burger-menu-mob open-menu">
                              <img src="./img/logo/logo.png" alt="">
                      </a>
                  </div>  
                 
                  <div class="nav-icons open-menu">
                      <!-- <a href="">
                          <img src="./img/icons/wishlist.png" alt="">
                      </a> 
                      <a v-on:click="accounts">
                          <img  type="button" src="./img/icons/account.png" alt="">
                      </a>
                      <a href="">
                          <img src="./img/icons/cart.png" alt="">
                      </a> -->
                      
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                     
                  </div>        
               
              </div>
  
  
  
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  
              
                  <div class="nav-menu-burger">
                      <ul class="nav-menu-ul">
                          <li class="nav-item dropdown">
                            <li>
                              <a class="nav-link ancors-nav-burger" href="./index.html">Home</a>
                             </li>
                              <a class="nav-link ancors-nav-burger" href="./products.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Shop
                              </a>
                             
                            </li>
                 
                          <li>
                              <a class="ancors-nav-burger" href="./contact.html">Contact</a>
                          </li>
                          <li>
                              <a class="ancors-nav-burger" href="#">About us</a>
                          </li>              
                      </ul>

                      <ul class="nav-menu-ul-bottom">
                          <li>
                              <a href="./contact.html">Where to find us?</a>
                              <a href="./contact.html">Need help?</a>
                          </li>
                      </ul>

                  </div>
                  
                </ul>
                
              </div>
  
  
            </div>

          </div>
        </nav>

      </header>
      </div>

      <!-- 
        - #ABOUT
      -->
<div class="quienesomos">


      <section class="section about" id="about" aria-label="about">
        <div class="container">

          <h2 class="section-title">Nogal</h2>

          <p class="section-text">
            As a commercial brand, keeping intact the same passion for quality, adding design and functionality. Today, our brand is synonymous with furniture, becoming the most recognized brand and leader in sales.
            This is our mission when developing products. Our designers have the great challenge of bringing you functional, quality furniture, with advanced designs, noble and durable materials. In addition, we are convinced that these features can be combined with the best prices on the market.
          </p>

          <div class="about-card">
          <video muted autoplay loop src="./images/VIDEO-SOFA.mp4" loading="lazy"></video>
        </div>

        </div>
      </section>



      <!-- 
        - #BLOG
      -->

      <section class="section blog" id="blog" aria-label="blog">
        <div class="container">

          <div class="title-wrapper">
            <h2 class="h2 section-title">Our Company</h2>

          </div>

          <ul class="grid-list">

            <li>
              <div class="blog-card">

                <div class="card-banner img-holder" style="--width: 374; --height: 243;">
                  <img src="./images/about.jpg" width="374" height="243" loading="lazy"
                    alt="Unique products that will impress your home in 2022." class="img-cover">

                </div>

                <div class="card-content">

                  <h3 class="h3">
                    <a href="" class="card-title">Since 2012</a>
                  </h3>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <p class="card-meta-text">We have developed two elements that help us achieve our mission: full tabletop and storage categories and an empathetic approach to working with clients.</p>
                    </li>

                  </ul>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <div class="card-banner img-holder" style="--width: 374; --height: 243;">
                  <img src="./images/empresa-04.jpg" width="374" height="243" loading="lazy"
                    alt="Navy Blue & White Striped Area Rugs" class="img-cover">


                </div>

                <div class="card-content">

                  <h3 class="h3">
                    <a href="" class="card-title">Easier life for you</a>
                  </h3>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <p class="card-meta-text">In everyone's life there must be a comfortable workplace, a place to have lunch with loved ones or just relax. 
                        We develop products thinking about the particular needs and preferences of each client. The human quality and daily effort of our work team is focused on providing an outstanding service of personalized advice from the moment they consult us until the day they receive the product.</p>
                    </li>



                  </ul>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <div class="card-banner img-holder" style="--width: 374; --height: 243;">
                  <img src="./images/empresa-08.jpg" width="374" height="243" loading="lazy"
                    alt="(nombrepagina) White Coated Staircase Floating" class="img-cover">


                </div>

                <div class="card-content">

                  <h3 class="h3">
                    <a href="" class="card-title">Nogal - Our way</a>
                  </h3>

                  <ul class="card-meta-list">

                    <li class="card-meta-item">
                      <p class="card-meta-text" >In 2020, Nogal entered the market with a great desire to make the process of furnishing a space easier for people. Offers its visitors more than 2000m2 of exhibition of furniture and decorative objects, forming part of the first industrial theme pole in all of Latin America. </p>
                    </li>

                  </ul>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>
    </div>



  </main>

  <footer>
    <div class="footer">
        <div class="footer-top">
            <div class="footer-top1">
                <div><p>Nogal © 2012</p></div>
                <div class="store-online-footer"><p>Online furniture store</p></div>
            </div>
            <div class="footer-top2">
                <p>privacy policy</p>
                <p>public offer</p>
                <p>where to find us</p>
                <div class="icons-footer">
                    <a href="https://www.facebook.com/"><i class='bx bxl-facebook'></i></a>
                    <a class="ig" href="https://www.instagram.com/"><i class='bx bxl-instagram' ></i></a>
                </div>
            </div>
        </div>            
        <div class="footer-bottom">
            <div class="footer-bottom-text">
                <p>website development: <span>  mindhub</span> </p>
            </div>
        </div>
    </div>
</footer>    




</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<script src="./js/products.js"></script>

</html>