<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8 " />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Shopping cart | Nogal</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap" rel="stylesheet" />

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
																																												 integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
		<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
		<link href="https://fonts.cdnfonts.com/css/gotham-pro?styles=24950,24948,24951,24952,14946,24949,24953"
					rel="stylesheet" />
		<link rel="stylesheet" href="./stylesheet/style.css" />
		<link rel="stylesheet" href="./stylesheet/cart.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" />
	</head>

	<body class="index fondo_imagen bg-dark">
		<div id="app">
			<div class="nav-logo">
				<div class="logo">
					<a href="./index.html" class="logo-contain">
						<img src="./img/logo/logoBlanco.png" alt="" style="width:13rem ;">
					</a>
				</div>
				<div class="nav">
					<div class="nav-menu">
						<a href="./products.html">Store</a>
						<a href="#">Location</a>
						<a href="./about-us.html">About us</a>
					</div>
				</div>
			</div>

			<main style="display: block ; " class="maringCart">
				<div class="card_cart">
					<div class="row">
						<div class="col-md-8 cart">
							<div class="title">
								<div class="row">
									<div class="col">
										<h4><b>Shopping Cart</b></h4>
									</div>
									<div class="col align-self-center text-right text-muted">
										{{shoppingCart.length}} items

									</div>
									<div class="col d-flex justify-content-end text-left">
										<i class="bi bi-trash3-fill cartRed h3 text-left" @click="cart_alert = true"></i>
									</div>
								</div>

							</div>
							<div class="row border-top border-bottom" v-for="product in shoppingCart">
								<div class="row align-items-center">
									<div class="col-2">
										<img class="img-fluid w-100" :src="product.urlImg" />
									</div>
									<div class="col">
										<div class="row text-muted">{{product.type}}</div>
										<div class="row">{{product.name}}</div>
									</div>
									<div class="col">
										<div class="row  ">
											<i class="col w-100 bi bi-plus-circle sizeItemsCart h3" @click="addProductToShoppingCart(product)" :class="{'text-secondary': product.stock == 0}"></i>
											<a href="#" class="col w-100 border sizeItemsCart h2 ">{{product.quantity}}</a>
											<i class="bi col w-100 bi-dash-circle sizeItemsCart h3" @click="deleteOneItem(product)" :class="{'text-secondary': product.quantity == 0}"></i>

										</div>
									</div>
									<div class="col">$ {{product.price * product.quantity}}<span class="close"></span>
										<button class="btn-close  cartRed" @click="deleteProduct(product)"></button>
									</div>
								</div>
							</div>
							<div class="col">
								<h3 v-if="shoppingCart.length == 0"><b>The cart is empty</b></h3>
							</div>
							<div class="back-to-shop">
								<a href="./products.html">&leftarrow;</a><span class="text-muted">Back to shop</span>
							</div>
						</div>

						<div class="col-md-4 summary">
							<div>
								<h5><b>Summary</b></h5>
							</div>
							<hr />
							<!-- <div class="row">
								<div class="col" style="padding-left: 0">ITEMS </div>
								<div class="col text-right">132.00</div>
								</div> -->
								<form>
									<div >
										<p>Enter your card number</p>
										<input id="card_number" v-model="numberCardVModel" type="number" class="fontGotham" placeholder="Card" />

										<p>Enter your cvv</p>
										<input id="cvv" class="fontGotham" v-model="cvvCardVModel" placeholder="Cvv" />
									</div>
									<p style="display: none;">GIVE CODE</p>
									<input id="code" class="fontGotham"  placeholder="Enter your code"  style="display: none;"/>
								</form>
								<div class="row" style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 2vh 0">
									<div class="col">Total price:</div>
									<div class="col text-right">$ {{totalAmount}}</div>
								</div>
								<button class="btn_cart fontGotham  btn  cart_CHECKOUT" style="font-size:10px;" @click="createTicket()">CHECKOUT</button>

								<button class="btn_cart fontGotham  btn  cart_CHECKOUT" style="font-size:10px;" @click="print()">Imprimir pdf</button>
						</div>
					</div>
				</div>
				<div class="card_cart  w-50 alert_trash" v-if="cart_alert == true">
					<div class="card-body">
						<p class="card-text h3 fontGotham">Are you sure you want to delete the ENTIRE cart?.</p>
						<div class="  d-flex justify-content-around">
							<button class="btn_cart fontGotham btn" style="font-size:14px;" @click="emptyCart()">Yes</button>
							<button class="btn_cart fontGotham btn " style="font-size:14px;" @click="cart_alert = false" >No</button>

						</div>
					</div>
				</div>



			</main>

			<footer class="footerDelContat  foooter_contact bg-white">
				<div class="footer">
					<div class="footer-top">
						<div class="footer-top1">
							<div>
								<p>Nogal © 2012</p>
							</div>
							<div class="store-online-footer">
								<p>Online furniture store</p>
							</div>
						</div>
						<div class="footer-top2">
							<p>privacy policy</p>
							<p>public offer</p>
							<p>where to find us</p>
							<div class="icons-footer">
								<a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a>
								<a class="ig" href="https://www.instagram.com/"><i class="bx bxl-instagram"></i></a>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="footer-bottom-text">
							<p>website development: <span> mindhub</span></p>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
					integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://unpkg.com/jspdf-invoice-template@1.4.0/dist/index.js"></script>
	<script src="./js/shoppingCart.js"></script>

</html>
