<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>My shopping dashboard | Nogal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheet/profile-client.css">
    <link rel="stylesheet" href="../stylesheet/style.css">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <link rel="shortcut icon" href="../img/favIcon.png" type="image/x-icon">

    </head>

<body class="profile" id="app">
    <input type="checkbox" id="menu-toggle">
    <div class="sidebar">

        <div class="side-content">
            <div class="profile">
                <div class="profile-img   ">
                    <p class="h1 ">{{initials}}</p>
                </div>
                <span>{{clientCurrent.firstname}} {{clientCurrent.lastname}}</span>
                <span>Client</span>
            </div>

            <div class="side-menu">
                <ul>

                    <li>
                        <a href="./profileClient.html">
                            <span>
                                <box-icon name='user-detail' type='solid'  color='gray'></box-icon>
                            </span>
                            <small>Profile</small>
                        </a>
                    </li>

                    <li>
                        <a href="./favorite.html">
                            <span>
                                <box-icon name='heart' type='solid'  color='gray'></box-icon>
                            </span>
                            <small>Favorite</small>
                        </a>
                    </li>



                    <li>
                        <a href="./shopping.html" class="active">
                            <span>
                                <box-icon name='shopify' type='logo'  color='gray'></box-icon>
                            </span>
                            <small>My Shopping</small>
                        </a>
                    </li>

                    <li>
                        <a href="./editprofile.html">
                            <span>
                                <box-icon name='edit'  color='gray'></box-icon>
                            </span>
                            <small>Edit profile</small>
                        </a>
                    </li>
                    <li>
                        <a href="" @click.prevent="logout()">
                            <span>
                                <box-icon name='log-out' color='gray'></box-icon>
                            </span>
                            <small>Logout</small>
                        </a>

                    </li>


                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">

        <div class="header-content">
            <label for="menu-toggle">
                <span class="las la-bars"></span>
            </label>

            <!-- boton return -->
            <a href="../index.html">
                <button class="learn-more">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">return home</span>
                </button>
            </a>
        </div>


        <main class="espacioParaElfooter">

            <div class="page-header">
                <h1>My Shopping</h1>
                <small>Nogal</small>
            </div>

            <!-- ========contenido====== -->
            <div class="d-flex w-100 justify-content-center">
                <div class="accordion accordion-flush w-75 mt-3" id="accordionFlushExample">
                    <div class="accordion-item" v-for="ticket in tickets">
                        <h2 class="accordion-header d-flex" :id="'flush-heading'+ticket.id">
                            <button class="accordion-button collapsed fs-3 text-black d-flex" type="button"
                                data-bs-toggle="collapse" :data-bs-target="'#flush-collapse'+ticket.id"
                                aria-expanded="false" :aria-controls="'flush-collapse'+ticket.id"
                                @click="productsInTicket(ticket)">
                                Order number: {{ticket.id}}
                            </button>
                            <button class="btn btn-secondary m-3 fs-3" @click="print(ticket)">PDF</button>
                        </h2>

                        <div :id="'flush-collapse'+ticket.id" class="accordion-collapse collapse"
                            :aria-labelledby="'flush-heading'+ticket.id" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <table>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                    <tr v-for="product in products">
                                        <td class="d-flex justify-content-center"><img :src="product.urlImg" alt=""
                                                style="width: 40px; height:40px"></td>
                                        <td data-label="Name">{{product.name}}</td>
                                        <td data-label="Price">${{balanceFormateado(product.price).split("A")[0]}}</td>
                                        <td data-label="Quantity">{{product.quantity}}</td>
                                        <td data-label="Total">
                                            ${{balanceFormateado((product.price)*(product.quantity)).split("A")[0]}}
                                        </td>
                                    </tr>
                                </table>

                                <p class="mt-2">Date: {{ticket.date.slice(0,10)}}</p>
                                <p class="mt-2">Total amount: ${{balanceFormateado(ticket.amount).split("A")[0]}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="text-center mt-2" v-if="tickets.length == 0">You haven't made any purchase yet</h3>
            </div>

            <!-- <div class="shopping">

                <div class="small-container cart-page">

                        
                    
                    <table>
                        <tr>
                            <th>product</th>
                            <th>Description </th>
                            <th>info</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="cart-info">
                                    <img src="../images/cobra-white.webp" alt="">
                                    <div>
                                        <p>{nombre del producto}}</p>
                                        <small>{price $}}</small>
                                        <button class="boton1" type="button" class="btn">
                                            delete
                                        </button>
                                    </div>

                                </div>
                            </td>
                            <td>
                                <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi debitis aperiam
                                    dignissimos
                                    praesentium laudantium aspernatur tenetur suscipit quis expedita. Sint.</h4>
                            </td>
                            <td>
                                <div>
                                    <button class="boton2" type="button" class="btn">
                                        ver producto
                                    </button>
                                </div>
                            </td>
                        </tr>

                    </table>
                </div>
            </div> -->



            <!--============== fin de contenido========= -->
        </main>


</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/jspdf-invoice-template@1.4.0/dist/index.js"></script>
<script src="../js/client.js"></script>

</html>