
.title{
    margin-bottom: 5vh;
}
.card_cart{
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}

.alert_trash{
    position: absolute;
    z-index: 2;
   max-width: 400px;
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);

/* From https://css.glass */
background: rgba(235, 224, 224, 0.3);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.4px);
-webkit-backdrop-filter: blur(6.4px);
border: 1px solid rgba(235, 224, 224, 1);
}
@media(max-width:767px){
    .card_cart{
        margin: 3vh auto;
    }
}
.cart{
    background-color: white;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
@media(max-width:767px){
    .cart{
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}
.summary{
    
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);

    backdrop-filter: blur(15px) saturate(139%);
    -webkit-backdrop-filter: blur(15px) saturate(139%);
    background-color: rgba(253, 254, 255, 0.47);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125)

}

.summary .col-2{
    padding: 0;
}
.summary .col-10
{
    padding: 0;
}.row{
    margin: 0;
}
.title b{
    font-size: 1.5rem;
}
.main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
.col-2, .col{
    padding: 0 1vh;
}
a{
    padding: 0 1vh;
}
.close{
    margin-left: auto;
    font-size: 0.7rem;
}
img{
    width: 3.5rem;
}
.back-to-shop{
    margin-top: 4.5rem;
}
h5{
    margin-top: 4vh;
}
hr{
    margin-top: 1.25rem;
}
form{
    padding: 2vh 0;
}
select{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder
{
      color:transparent;
}
.btn_cart{
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;

}

.btn_cart:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none; 
}


.btn_cart:hover{

    color: #000;

}

a{
    color: black; 
}
a:hover{
    color: black;
    text-decoration: none;
}
.cartRed:hover{
   color: 	 	#d11141;
}
 #code{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}

.fontGotham{
    font-family: 'Gotham Pro', sans-serif;
    /* font-family: 'Gotham Pro Medium', sans-serif; */
}
@media (max-width: 486px) {
.sizeItemsCart{
    font-size: 20px;
    margin: 13px;
}

}
@media(max-width:767px){
    .summary{
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    }
}