/* .cart_bg{

    width: 100%;
    height: 100%;
    padding: 11px;

    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    }
     */
    


 .section-cart {
        width: 90vw;
        background: white;
        padding: 18px;
}

.title{
    margin-bottom: 5vh;
}
.card_cart{
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: transparent;
}

.row {
    border-radius: none !important;
}

.cart-body .nav-icons a {
    margin: 0px -0.2rem;
}
.cart-body main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif; 
    background-color: #f4f4f4
}

.cart-body .nav-menu a {
    font-size: 13px;
    color: black !important;
    padding: 0 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
}
.cart-body .nav-icons a img {
    color: black !important;
    width: 18px;
    filter: unset !important
}


.alert_trash{
    position: absolute;
    z-index: 2;
   max-width: 400px;
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);

/* From https://css.glass */
background: rgba(235, 224, 224, 0.3);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.4px);
-webkit-backdrop-filter: blur(6.4px);
border: 1px solid rgba(235, 224, 224, 1);
}
@media(max-width:767px){
    .card_cart{
        margin: 3vh auto;
    }
}
.cart{
    background-color: white;
    padding: 4vh 5vh;
}
@media(max-width:767px){
    .cart{
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}


.summary{
    
 
    padding: 4vh;
    color: rgb(65, 65, 65);

    backdrop-filter: blur(15px) saturate(139%);
    -webkit-backdrop-filter: blur(15px) saturate(139%);
    background-color: rgba(253, 254, 255, 0.47);

    border: 1px solid rgba(255, 255, 255, 0.125)

}

.summary .col-2{
    padding: 0;
}
.summary .col-10
{
    padding: 0;
}.row{
    margin: 0;
}
.title b{
    font-size: 1.5rem;
}
.main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
.col-2, .col{
    padding: 0 1vh;
}
a{
    padding: 0 1vh;
}
.close{
    margin-left: auto;
    font-size: 0.7rem;
}
img{
    width: 3.5rem;
}
.back-to-shop{
    margin-top: 4.5rem;
}

.cart-body b {
    font-size: 20px;
}

hr{
    margin-top: 1.25rem;
}
form{
    padding: 2vh 0;
}
select{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder
{
      color:transparent;
}
.btn_cart{
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;

}

.btn_cart:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none; 
}


.btn_cart:hover{

   

}

a{
    color: black; 
}



 #code{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}


.fontGotham{
    font-family: 'Gotham Pro', sans-serif;
    /* font-family: 'Gotham Pro Medium', sans-serif; */
}
.maringCart{
	height:auto;
}

.cart-body div#app {
    background: white;
}

.cart-body .container-fluid {
    background: white;
}

.cart-body .burger-menu-mob img {
 
   
}

.card_cart .burger-menu img {
    width: 18px;
    filter: unset !important
}

.card_cart button.btn_cart.fontGotham.btn.cart_CHECKOUT {
    font-size: 15px;
    font-family: 'Raleway';
    padding: 11px;
}

.card_cart button.btn_cart.fontGotham.btn.cart_CHECKOUT:hover {
    background: white;
    color: black;
    border: 1px solid black;
}

.card_cart .back-to-shop {
    display: flex;
    align-items: center;
}

.card_cart .span-back-to-shop {

    padding: 10px;
}


.card_cart .fontGotham {
    font-family: raleway;
}


@media (max-width: 486px) {
.sizeItemsCart{
    font-size: 20px;
    margin: 13px;
}


}
@media(min-width: 767px){
    .maringCart {
        height: 69rem;
    } 
}
@media(max-width:767px){
    .summary{
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    }
}
@media(min-width:768px) {
    header {
        height: 860px;
        display: flex;
        align-items: center;
    }
    .index .img-background {
        height: 860px;
    }
    .index .nav-logo {
        padding: 0 35px;
    }

 

    .nav-icons a {
        margin: 0 0.8rem;
    }
    .container-fluid {
        /* padding: 17px 18px; */
        /* padding: 7px 10px; */
        /* padding: 4px 10px; */
        min-height: 8rem;
    }
    .filter-nav {
        padding: 17px 18px;
    }
    .index .text-header {
        padding: 0 3.5rem;
        margin-top: 18rem;
        width: 90%;
    }
    .index .title-text-header {
        width: 42%;
        font-weight: bolder;
    }
    .index .title-text-header h2 {
        font-size: 54px;
    }
    .index .btn-choose-table {
        width: 248px;
    }
    .index .index-categories {
        margin-top: 13rem;
        height: 142vh;
    }
    .index .category-index {
        height: 595px;
    }
    .index .category-img img {
        height: 26rem;
    }
    .index .category-index {
        padding: 1.5rem 2rem;
    }
    .index .category-title h3 {
        font-size: 13px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .index .category-index .category-desc {
        font-size: 13px;
        text-transform: uppercase;
    }
    .index .categories-with-img {
        flex-direction: unset;
    }
    .index .categories-with-img .tables {
        height: 796px
    }
    .index .categories-with-img .storage {
        height: 796px
    }
    .index .section3-categories {
        justify-content: center;
    }
    .footer-top2 {
        flex-direction: unset
    }
    .products .burger-menu-mob img {
        width: 122px;
        margin-left: 15px;
        margin-top: 1px;
    }
    
}

@media(min-width:1024px) {
    .burger-menu img {
        display: none;
    }
  
}

@media (min-width:1200px) {
    .index .category-index {
        width: 24%;
    }
    .index .section3-categories {
        width: 97%;
    }
    .index .category-index-sectior3 {
        width: 33%;
    }
    .index .section3-categories {
        width: 97%;
        justify-content: center;
        padding-right: 9rem;
        padding-left: 5rem;
    }
    /* .index .index-categories {
        max-width: 1200px;
    } */
    .index .section3-categories {
        width: 97%;
    }
    .index .index-categories {
        margin-top: 13rem;
        height: 71vh;
    }
    .footer-top {
        display: flex;
    }
    .footer-top1 {
        display: flex;
        align-items: center;
    }
    .footer-top2 {
        margin-top: unset;
    }
    .store-online-footer {
        margin-left: 3rem;
    }
    .index .icons-footer a {
        font-size: 21px;
    }
}

@media (min-width: 1440px) {
    .index .section3-categories {
        margin-top: 13rem;
        height: 71vh;
        width: 100%;
        padding-left: 7rem;
    }
}

@media (min-width:1920px) {
    .index .section3-categories {
        width: 100%;
        padding-left: 14rem;
    }
    .index .category-index-sectior3 {
        width: 27%;
    }
    .index .categories-with-img .storage .storage-title h3 {
        font-size: 54px;
    }
    .index .categories-with-img .tables .tables-title h3 {
        font-size: 51px;
    }
    .index .categories-with-img .storage .storage-btn-buy a {
        width: 26rem;
    }
    .index .categories-with-img .tables .tables-btn-buy a {
        width: 26rem;
    }
    footer .footer {
        display: flex;
        justify-content: space-between;
    }
    .footer-top {
        width: 75%;
    }
    .index .footer-bottom {
        border-top: unset
    }
    footer p {
        font-size: 13px;
    }

    .maringCart {
        height: 86vh;
    }
}


