.concact{
    width: 100%;
    height: 100%;

/* From https://css.glass */
background: rgba(255, 255, 255, 0.55);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.3px);
-webkit-backdrop-filter: blur(8.3px);
border: 1px solid rgba(255, 255, 255, 0.3);

}
.pedirot{
    width: 100%;
    height: 100%;    
}

.fontContat{
    font-size: 15px
}
.linksContact:hover{
    color: #483838!important;
}
.nenoHrefDecoration:hover{
    color: #483838!important;
    text-decoration: none;
}
.fondo_imagen{
background-color: #161313!important;
background-image: url("https://drommel.com.ua/image/cache/catalog/sub2-2-1920x860.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-size: 200rem 150rem;
}
.footerDelContat{
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background-color: white;
}
