@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

.detail  h1, h2, h3 {
    overflow-y: hidden;
}
.detail .card{
    --bs-card-border-color: none;
    background: #f5f5f5;

}

.detail{
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #f5f5f5;

}
.detail .card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
.detail .image{
    width: 100%;
}
.detail .img-display{
    overflow: hidden;
}
.detail .img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.detail .img-showcase img{
    width: 100%;
}


.detail .img-select{
    display: flex;
}
.detail .img-item{
    margin: 0.3rem;
}
.detail .img-item:nth-child(1),
.detail .img-item:nth-child(2),
.detail .img-item:nth-child(3){
    margin-right: 0;
}
.detail .img-item:hover{
    opacity: 0.8;
}
.detail .product-content{
    padding: 2rem 1rem;
}
.detail .product-title {
    font-size: 5rem;
    position: relative;
    color: #12263a;
    margin: 4rem 0;
    font-family: 'Raleway';
    text-transform: uppercase;
}

.detail .product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.detail .product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: black;
    color: #fff !important;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
    padding: 9px 19px;
}
.detail .product-link:hover{
    opacity: 0.9;
}
.detail .product-rating{
    color: #ffc107;
}
.detail .product-rating span{
    font-weight: 600;
    color: #252525;
}
.detail .product-price{
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
}
.detail .product-price span{
    font-weight: 400;
}
.detail .last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.detail .new-price span{
    color: #727272;
    font-size: 21px;
}
.detail .product-detail h2{
    text-transform: uppercase;
    color: #12263a;
    padding-bottom: 0.6rem;
    font-size: 17px;
    margin-top: 1rem;
}
.detail .product-detail p{
    font-size: 1.5rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.detail .product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
    
}
.detail .product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(shoes_images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.detail .product-detail ul li span{
    font-weight: 400;
}
.detail .purchase-info{
    margin: 1.5rem 0;
}
.detail .purchase-info input,
.detail .purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.detail .purchase-info input{
    width: 60px;
}
.detail .purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.detail .purchase-info .btn:first-of-type{
    background: #212529;
}
.detail .purchase-info .btn:last-of-type{
    background: #212529;
    width: 55%;
    padding: 12px;
}
.detail .purchase-info .btn:hover{
    background: white;
    color: black;
}
.detail .social-links{
    display: flex;
    font-size: 20px;
    align-items: center;
}
.detail .social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    color: #000;
    border: 1px solid #000;
    margin: 0 1rem;
    /* border-radius: 50%; */
    text-decoration: none;
    font-size: 1.8rem;
    transition: all 0.5s ease;
}


.detail .social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff !important;
}
.detail .nav-menu a {
    font-weight: bold;
    font-size: 14px;
}

.detail .caja{
    border: 2px solid #939393;
    text-align: center;
    width: 28%;
    font-size: 13px;
    text-transform: uppercase;
    padding: 6px;
}
.detail .cajaflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 0px 21px;
    font-weight: 600;
}
.detail .cajaflexCompra{
    border: 2px solid #939393;
    background-color: black;
    text-align: center;
    min-width: 265px;
    color:white
}

 .detail button{
    border-radius: 0px;
    font-size: 22px;
    margin: 0px 2px ;
}
.detail .purchase-info input, .detail .purchase-info .btn{
    border: 0;
    border-radius: 0px;
}

.detail p{
    text-transform: uppercase;
}




.container-productsRelated {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.products-related {
    margin-top: 3rem !important;
}

.title-product-related {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.title-product-related h3 {
    font-size: 28px;
    font-family: 'Raleway';
}


.btn-atras-detail { 
    padding-left: 1rem;
    padding: 15px 15px 0px 15px;
    right:46vw;
}
.btn-atras-detail i.bx.bx-left-arrow-alt {
    font-size: 35px;
    cursor: pointer;
}

.btn-atras-detail i.bx.bx-left-arrow-alt:hover {
    transform: scale(1.1);
}

/* .detail .nav-menu a {

    font-weight: 700;
} */

.products-related-container.d-flex.justify-content-center {
    background: white;
}

.title-product-related h3{
    border-bottom: unset;
}

.products-related h3{
    font-weight: unset !important;
}

@media screen and (min-width: 992px){
    .detail .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .detail .card-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .detail .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .detail .product-content{
        padding-top: 0;
    }


}