/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap'); */

.wrapper {
    font-family: 'Raleway', sans-serif !important;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, .08);
}

.wrapper .left {
    width: 35%;
    background: #f4f4f4;
    padding: 30px 25px;
    text-align: center;
    color: black;
}

.wrapper .left img {
    border-radius: 5px;
    margin-bottom: 10px;
    margin: 0 36%;
}

.wrapper .left h4 {
    margin-bottom: 10px;
}

.wrapper .left p {
    font-size: 22px;
}

.wrapper .right {
    width: 65%;
    background: rgb(230, 230, 230);
    padding: 30px 25px;
    color: black;
}

.wrapper .right .info,
.wrapper .right .projects {
    margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data {
    display: flex;
    justify-content: space-between;
    
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data {
    width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
    font-family: 'Raleway', sans-serif !important;
}

.wrapper .social_media ul {
    display: flex;
}

.wrapper .social_media ul li {
    width: 45px;
    height: 45px;
    background: linear-gradient(to right, #383939, #7c7e7e);
    margin-right: 10px;
    text-align: center;
    line-height: 45px;
}

.wrapper .social_media ul li a {
    color: #fff;
    display: block;
    font-size: 18px;
}

@media(max-width:768px) {

    .wrapper{
        left: 60%;
        width: 78%;
    }
    .profile .header-content, .header-menu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:425px) {

    .wrapper{
        font-family: 'arial';
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 99%;
    transform: translate(-50%, -50%);
    display: flex;
    box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    }

    .wrapper .left {
        width: 96%;
        background: #f4f4f4;
        padding: 14px 0px;
        text-align: center;
        color: #fff;
    }
    .wrapper .right {
        width: 96%;
        background: rgb(230, 230, 230);
        padding: 30px 35px;
    }

    .profile .header-content, .header-menu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:320px) {
    .wrapper{
        top: 65%;
        width: 103%;
    }
    .profile .initial {
        margin: 30px auto 30px;
    }
    .wrapper .right .info_data, .wrapper .right .projects_data {
        display: flex;
        flex-direction: column-reverse;
    }
    .wrapper .left {
        width: 100%;

    }
    .wrapper .right {
        width: 100%;
        padding: 35px 13px;

    }
}