.profile-header{
    font-size: 15px
}

.dropdown-menu {
    --bs-dropdown-min-width: 0;
}

.profile-header .hero{
    width: 100%;
    background: #eceaff;
    color: #525252;
}

.profile-header .hero nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.profile-header .logo{
    width: 12px;
}
.profile-header .user-pic{
    width: 10%;
    border-radius: 33%;
    cursor: pointer;
    margin-left: 30px;
}
.profile-header nav ul{
    width: 100%;
    text-align: right;
}
.profile-header nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
.profile-header nav ul li a{
    color: white;
    text-decoration: none;
    font-size:  20px;
}


.profile-header .icono-profile{
    width: 50px;
    height: 40px;
}


.profile-header .sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 290px;

    overflow: hidden;
    transition: max-height 0.5s;
}

.profile-header .sub-menu-wrap.open-menu{
    max-height: 400px;
}


.profile-header .sub-menu{
    background: #bbbbbb7d;
    padding: 5px;
    color: white;
}
.profile-header .user-info{
    display: flex;
    align-items: center;
}
.profile-header .user-info h2{
    font-weight: 500;
}
.profile-header .user-info img{
    width: 90px;
    border-radius: 30%;
    margin-right: 15px;
}
.profile-header .sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.profile-header .sub-menu-link{
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 28px 20px;
}
.profile-header .sub-menu-link p{
    width: 100%;
}
.profile-header .sub-menu-link span .sub-menu-link:hover p{
    font-size: 18px;
    transition: transform 0.5s;
}
.profile-header .sub-menu-link:hover span,.sub-menu-link:hover p{
    transform: translateX(7px);
}
.profile-header .sub-menu-link p{
    font-weight: 600;
}