
.shopping{
    padding: 0 5%;
}
.shopping h4{
    max-width: 430px;
}
.shopping .boton2{
    background-color: rgb(56, 56, 56);
    width: 70%;
    border: none;
    height: 45px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}
.shopping .boton1{
    background-color: rgb(110, 3, 3);
    width: 65%;
    border: none;
    outline: none;
    height: 35px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.shopping .cart-page{
    margin: 80px auto;
}
.shopping table{
    width: 100%;
    border-collapse: collapse;
}
.shopping .cart-info{
    display: flex;
    flex-wrap: wrap;
}

.shopping th{
    text-align: left;
    padding: 5px;
    color: white;
    background: gray;
    font-weight: normal;
}
.shopping td{
    padding: 10px 5px;
}
.shopping td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
.shopping td a{
    color: red;
    font-size: 20px;
}
.shopping td img{
    width: 150px;
    height: 150px;
    margin-right: 10px;
}